:root {
    font: message-box;
    font-size: 1em;
}

body.busy * {
    cursor: progress;
}

header {
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.2em;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.3em;
    border: 0.5px solid;
    margin: 0.1em 0 0.7em 0;
}

meter {
    width: 100%;
}

#logo {
    float: right;
    height: 1.5em;
}

input[type=checkbox] {
    width: unset;
    margin-right: 0.1em;
}

label {
    float: left;
}

.checkboxWithLabel {
    float: left;
}

.checkboxWithLabel label {
    float: initial;
}

.checkboxWithLabel input {
    width: initial;
}

details p {
    font-size: smaller;
    background: white;
    border: 1px solid;
    padding: .5em;
    width: 50%;
    position: absolute;
    z-index: 1;
    right: 0.2em;
    top: 0.5em;
}

details summary {
    float: right;
    margin-right: 0.2em;
}

.fullfield {
    width: 100%;
    position: relative;
    display: inline-block;
}

/* TODO Set correct width */
.sameline{
    width: 4em;
}

button {
    margin-top: 0.7em;
    padding: 0.5em 5em;
}

#logo {
    float: right;
    height: 1.5em;
}

#resetButton {
    float: right;
}

#freespaceGauge {
    margin-bottom: .5em;
    visibility: hidden;
}

#freespacelabel {
    float: left;
    margin-right: .5em;
}

#meterspan {
    display: block;
    overflow: hidden;
}