:root {
    font: message-box;
    font-size: 1em;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.2em;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.3em;
    border: 0.5px solid;
    margin: 0.1em 0 0.5em 0;
}

#logo {
    float: right;
    height: 1.5em;
}

header {
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

button {
    padding: 0.5em 5em;
}

#resetButton {
    float: right;
   }
   